version: 2.1
jobs:
  lint:
    docker:
      - image: hseeberger/scala-sbt:8u312_1.6.2_2.13.8
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.8! check
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test213_jdk17:
    docker:
      - image: hseeberger/scala-sbt:17.0.2_1.6.2_2.13.8
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.8! compile rezilienceJVM/test config/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test213_jdk11:
    docker:
      - image: hseeberger/scala-sbt:11.0.14.1_1.6.2_2.13.8
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.8! compile rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test_dotty_jdk17:
    docker:
      - image: hseeberger/scala-sbt:17.0.2_1.6.2_3.1.1
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++3.1.1! rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test212_jdk17:
    docker:
      - image: hseeberger/scala-sbt:17.0.2_1.6.2_2.12.15
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.12.15! compile rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test212_jdk11:
    docker:
      - image: hseeberger/scala-sbt:11.0.14.1_1.6.2_2.12.15
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.12.15! compile rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  release:
    docker:
      - image: hseeberger/scala-sbt:17.0.2_1.6.2_2.13.8
    steps:
      - checkout
      - run: git fetch --tags
      - restore_cache:
          key: sbt-cache-3
      - run: apt install -y gnupg
      - run: export GPG_TTY=$(tty)
      - run: echo $PGP_SECRET | base64 --decode | gpg --batch --import
      - run: echo "credentials += Credentials(\"Sonatype Nexus Repository Manager\", \"oss.sonatype.org\", \"$SONATYPE_USER\", \"$SONATYPE_PASSWORD\")" > ~/.sbt/1.0/sonatype.sbt
      - run: sbt ci-release

  publish_docs:
    docker:
      - image: hseeberger/scala-sbt:17.0.2_1.6.2_2.13.8
    steps:
      - checkout
      - run: apt-get install -y ruby-full build-essential zlib1g-dev
      - run: gem install jekyll bundler
      - run: sbt ++2.12.15! publishLocal docs/publishMicrosite

workflows:
  version: 2
  build:
    jobs:
      - lint:
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test213_jdk17:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test213_jdk11:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test212_jdk17:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test212_jdk11:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test_dotty_jdk17:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - release:
          requires:
            - test213_jdk17
            - test213_jdk11
            - test212_jdk17
            - test212_jdk11
            - test_dotty_jdk17
          filters:
            branches:
              only:
                - master
      - publish_docs:
          #requires:
            #- test213_jdk11 # TODO change
            # - release
          filters:
            branches:
              only:
                - master
                - auto-docs-publish # TODO remove
