version: 2.1
parameters:
  tag_regex:
    type: string
    default: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
jobs:
  lint:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_2.13.10
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.14! check
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  check_docs:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_2.13.10
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.14! docs/makeMdoc

  test213_jdk17:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_2.13.10

    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.14! compile rezilienceJVM/test config/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test213_jdk11:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-11.0.17_8_1.8.2_2.13.10
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++2.13.14! compile rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  test_dotty_jdk17:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_3.2.2
    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-3
      - run: sbt ++3.4.2! rezilienceJVM/test
      - save_cache:
          key: sbt-cache-3
          paths:
            - "~/.cache/coursier/"
            - "~/.sbt"
            - "~/.m2"
  release:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_2.13.10
    steps:
      - checkout
      - run: git fetch --tags
      - restore_cache:
          key: sbt-cache-3
      - run: apt update
      - run: apt install -y gnupg
      - run: export GPG_TTY=$(tty)
      - run: echo $PGP_SECRET | base64 --decode | gpg --batch --import
      - run: echo "credentials += Credentials(\"Sonatype Nexus Repository Manager\", \"oss.sonatype.org\", \"$SONATYPE_USER\", \"$SONATYPE_PASSWORD\")" > ~/.sbt/1.0/sonatype.sbt
      - run: sbt ci-release

  publish_docs:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.5_8_1.8.2_2.13.10
    steps:
      - checkout
      - run: apt-get update
      - run: apt-get install -y ruby-full build-essential zlib1g-dev
      - run: gem install jekyll bundler
      - run: sbt ++2.13.14! publishLocal docs/publishMicrosite

workflows:
  version: 2
  build:
    jobs:
      - lint:
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - check_docs:
          requires:
            - lint
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - test213_jdk17:
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - test213_jdk11:
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - test_dotty_jdk17:
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - release:
          requires:
            - test213_jdk17
            - test213_jdk11
            - test_dotty_jdk17
            - check_docs
          filters:
            branches:
              only:
                - master
            tags:
              only: << pipeline.parameters.tag_regex >>
      - publish_docs:
          requires:
             - release
          filters:
            branches:
              only:
                - master
